<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ClubDbConnection"
             connectionString="Data Source=507-8\SQLEXP;Initial Catalog=posuda;Integrated Security=True;TrustServerCertificate=True"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>